
/* .component-tab{
	border: 1px solid #ccc;
	.component-header{
	background-color: #f2f2f2;
		padding: 10px 5px 0px;
		border-bottom: 1px solid #ccc;
		.title{
			padding: 0 10px;
		}
	}
	.component-content{
		padding: 10px;
	}
} */
