.index-stat{
	.stat-item{
		border: 1px solid #ccc;
		margin-bottom: 20px;
		h2{
			border-bottom: 1px solid #ccc;
			background-color: #f2f2f2;
			line-height: 32px;
			padding: 5px 10px;
		}
		.line-content{
			padding: 10px;
			.tip{
				margin: 10px 0;
				text-align: center;
			}
			.common-trend-chart{
				width: 100% !important;
				// height: 300px !important;
				.highcharts-container {
					width: 100% !important;
					// height: 300px !important;
				}
				.highcharts-root{
					width: 100% !important;
					// height: 300px !important;
				}
			}
		}
	}
	.choose-time{
		margin: 10px 0;
	}
}




.cell{
	max-height:150px;
	overflow: auto !important;
}


